/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */

@import "base";
@import "_variables";

body{
  font-size: 12pt;
}

footer, #bottom{
  font-size: 10pt;
}

.islandora-basic-collection-grid {
  text-align: center;
}

.page-all-collections{
  #content table.views-view-grid{
    table-layout: fixed;
  }
}

/*
 * Client based customizations.
 */
.mean-bar {
  margin-top: 0px;
}

.mean-container .mean-bar {
  z-index: auto !important;
}

.social-share-outer {
  padding-bottom: 2em;
}

.contextual-links-region {
  position: relative;
}

html {
    font-family: $base-font-family;
}
#page {
    background: #FFFFFF;
}
#block-menu-menu-header-menu {
    float: left;
    font-size: 1em;
    height: 35px;
}
.block-shib-auth {
  float:right;
  padding-left: 15px;
  font-size: 85%;
}

.islandora-basic-collection-wrapper img {
  max-height: 30em;
  width: 100%;
}

#content {
    box-shadow: none!important;
}
.breadcrumb {
  font-family: "Trade Gothic LT Condensed";
  font-size: .95em;
  letter-spacing: 1.2pt;
  line-height: 1.1em;
}
#footer menu, ol, ul{
    padding: 0 0 0 0;
}

nav {
  margin-left: auto;
  margin-right: auto;
}

.item-list ul {
  padding: 0 0 0 0;
}

#block-menu-menu-footer-menu {
    font-size: .95em;
}

.view-footer-social-menu-links td {
  padding-left: 5px;
  padding-right: 5px;
}

.browse-all-item-wrapper {
  text-align: center;
}

.new-collections-item-wrapper img {
  vertical-align: middle;
  max-width: 5em;
}

#mediaplayer{
  max-width: 100%;
}

#page-title {
  background: none !important;
  font-weight: normal;
  color:$gold !important;
  margin-top: 0.5em;
}

.region.region-highlighted {
  margin-left: auto;
  margin-right: auto;
  background-color: #585353;
}

/*
 * View Slideshow
 */
.flex-direction-nav a {
  line-height: 40px;
}
.flex-viewport {
  height: auto !important;
  ul {
    li {
      padding-left: 5px;
      padding-right: 5px;
    }
  }
}
.flexslider .slides {
  margin: 0 auto !important;
}
.front-page-slideshow {
  width: 100%;
  box-sizing: border-box;
}
.flex-viewport {
  ul {
    display: inline-block !important;
  }
  img {
    display: block;
    height: 150px;
  }
}
.flexslider-views-slideshow-main-frame li {
    position: relative;
}
p.flex-caption {
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 10px;
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  width: 100%;
  position: absolute;
}

.flexslider {
  border: none !important;
  height: auto;
  margin-bottom: 0px;
  a{
    display: inherit;
  }
  .slides {
    overflow: hidden;
    img {
      display: inline-block;
      width: 100%;
    }
  }
}

.views-field-PID {
  max-height: 30em;
  overflow: hidden;
}

#block-tuladora-collection-description div.islandora-solr-metadata-sidebar h2 {
  font-weight: normal;
/*   font-family: "Ropa Sans"; */
  margin-bottom: 0.3em;
  padding: 0.5em 0 0;
}

.slideshow-item-image-wrapper {
  text-align: center;
}

.collection_folder {
  background-image: url("../images/folder.png");
  background-repeat: no-repeat;
  background-size: 60px 60px;
  height: 60px;
  width: 60px;
}

.collection-search-wrapper{
  #edit-islandora-simple-search-query{
    font-size: 80% !important;
  }
}

.islandora-solr-facet-pages-wrapper{
  padding-left: 20px;
}

.front{
  #edit-islandora-simple-search-query{
    font-size: 100% !important;
    width: 96% !important;
  }
}

.islandora-default-thumb {
  @extend .collection_folder;
  a {
    img {
      opacity: 0;
    }
  }
}

.view-social-links{
  .view-content{
    table {
      width: 100%;
    }
  }
}

.block-front-page-browse-collection table {
  table-layout: fixed;
}

div.widgets-element-horizontal {
    float: right;
}

#content #widgets-element-socialmedia_share-default{
  div {
    max-width: 20px;
  }
}
/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */

#skip-link {
  margin: 0;

  a,
  a:visited {
    display: block;
    width: 100%;
    padding: 2px 0 3px 0;
    text-align: center;
    background-color: #666;
    color: #fff;
  }
}

.block-border-bottom, #content{
  display: inline-block;
  border-bottom: 1px solid #cdcccc;
  box-sizing: border-box;
  padding-bottom: 10px;
}

/*
 * Searching
 */

.islandora-solr-search-result {
  border-top: none;
  border-bottom: none;
  background: #f7f9f6;
}

.islandora-solr-search-results {
  margin-top: 3em;
}

.solr-fields dt, .solr-fields dd {
  border-top: 1px solid #EEF0ED;
  word-wrap: break-word;
}
dl.solr-fields {
  border-top: none;
  float: right;
  width: 83%;
}

dl.solr-thumb {
  float: left;
  width: 15%;
  margin: 2% 0 2% 1%;
}

.front{
  #navigation{
    padding-bottom: 0px;
    padding-top: 0px;
  }
}

#navigation{
  display: block;
  width: 100%;
  min-height: 2em;
  box-shadow: 0px 0px 13px #cdcccc;
  >div{
    float:right;
  }
}

.region.region-navigation{
  display: inline-block;
}

/*
 * Header
 */
.h-wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: $width_limit;
  
}

/*Accordion Rotator */

div.accordion_button.next {
  margin-right: 5px;
}
div.accordion_button.previous {
  margin-left: 5px;
}


#header {
  padding-top: 20px;
  padding-bottom: 20px;
}

.logged-in.not-front #header {
  padding-top: 1.25em;
}

.h-wrapper{
  #logo {
    display: table-cell;
    padding-left: 10px;
    padding-right: 10px;
    img{
      max-width: 250px;
    }
  }
  hgroup {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 100%;
  }
}
/* #name-and-slogan { Wrapper for website name and slogan */
/*   float: left; */
/*   margin-left: 2%; */
/*   margin-top: -0.2em; */
/*   background: transparent; */
/* } */

#site-name { /* The name of the website */
  margin: 0;
  font-size: 1.5em;
  line-height: 1.5em;
  font-weight: normal;
  //color: #5A5B5D;
  a:link,
  a:visited {
    //color: #5A5B5D;
    text-decoration: none;
  }

  a:hover,
  a:focus {
    text-decoration: underline;
  }
}

#site-slogan { /* The slogan (or tagline) of a website */
  margin: 0;
  font-size: 48pt;
  font-weight: normal;
  text-align: left;
}

#page-title, h1, h2, h3, h4, h5, h6{
  font-size: 16pt;
}

.region-header { /* Wrapper for any blocks placed in the header region */

}

/*
 * Main (container for everything else)
 */
#mediaplayer{
  max-width: 100%;
}
#main {
  background: none !important;
  margin-left: auto;
  margin-right: auto;
  max-width: $width_limit;
  padding-left: $left_padding;
  padding-right: $right_padding;
}

/*
 * Content
 */

#content {
  box-shadow: 0 0 5px 1px rgba(38, 37, 38, 0.3);
  background: #fff;
  padding: 0em 1em;
  max-width: 100%;
}

.front #content {
  padding: 0;
  background: none;
  box-shadow: none;
}

#content
.region-highlighted {
}

.breadcrumb { /* The path to the current page in the form of a list of links */
  font-size: 70%;
  letter-spacing: 0.6pt;
  line-height: 1.5em;
  padding-left: 9px;
  text-transform: uppercase;
  ol {
    margin: 0;
    padding: 0;
    li a{
      padding-right: 5px;
      :hover{
        color: $light-gold;
      }
    }
    li:nth-last-child(1){
      a{
        font-weight: bold;
        color: $light-gold;
      }
    }
  }
  li {
    border-radius: 3px 3px 3px 3px;
    display: inline-block;
    list-style-type: none;
    margin: 5px 0;
    padding: 2px 5px 4px;
    a:{
      color: $light-gold;
    }
    a:hover {
      color: $light-gold;;
    }
  }
  li:hover {
    background: #F7F9F6;
  }
  .islandora-solr-breadcrumb-super {
    font-size: 100%;
    position: relative;
    left: 1px; top: 4px;
      a {
        color: #222;
      }
      a:hover {
      color: red;
    }
  }
}

h1.title, /* The title of the page */
h2.node-title, /* Title of a piece of content when it is given in a list of content */
h2.block-title, /* Block title */
h2.title, /* Comment section heading */
h2.comment-form, /* Comment form heading */
h3.title { /* Comment title */
  margin: 0;
  //color: #5A5B5D !important;
}

tr.even { /* Some tables have rows marked even or odd. */
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

tr.odd {
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

div.messages { /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */
  margin: 1.5em 0; /* Drupal core uses "6px 0" margin */

  ul {
    margin-top: 0;
    margin-bottom: 0;
  }
}

div.status { /* Normal priority messages */
}

div.warning,
tr.warning { /* Medium priority messages */
  /* border: 1px solid #f0c020; */ /* Drupal core uses: 1px solid #f0c020 */
}

div.error,
tr.error { /* High priority messages. See also the .error declaration below. */
}

.error { /* Errors that are separate from div.messages status messages. */
  /* color: #e55; */ /* Drupal core uses a #e55 background */
}

.warning { /* Warnings that are separate from div.messages status messages. */
  /* color: #e09010; */ /* Drupal core uses a #e09010 background */
}

.tabs { /* See also the tabs.css file. */
}

.region-help { /* Help text on a page */
}

.more-help-link { /* Link to more help */
}

.region-content { /* Wrapper for the actual page content */
}

ul.inline { /* List of links generated by theme_links() */
  display: inline;
  padding: 0;

  li {
    display: inline;
    list-style-type: none;
    padding: 0 1em 0 0; /* LTR */
  }
}
span.field-label { /* The inline field label used by the Fences module */
  padding: 0 1em 0 0; /* LTR */
}

.item-list .pager { /* A list of page numbers when more than 1 page of content is available */
  padding: 0;

  li { /* Each page number in the pager list */
    padding: 0 0.5em;
  }
}

.page-all-collections{
  table.views-view-grid{
    width: 100%;
  }
}

.browse-all-item-wrapper {
  text-align: center;
}

.feed-icon { /* The link to the RSS or Atom feed for the current list of content */
}

.more-link { /* Aggregator, blog, and forum more link */
}

#google-pdf-viewer {
  padding-top: 1.5em;
}


.islandora-solr-search-result{
  -webkit-box-shadow: 0px 0px 12px 4px rgba(0,0,0,0.29);
  -moz-box-shadow: 0px 0px 12px 4px rgba(0,0,0,0.29);
  box-shadow: 0px 0px 12px 4px rgba(0,0,0,0.29);
  background-color: white;
  box-sizing: border-box;
  padding: 5px;

}
.islandora-pdf-link {
  float: right;
}

.islandora-pdf-sidebar {
  ul {
    padding: 0 1em;
  }
}

/*
 * First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first
 * (see the layout.css file.)
 */


/*
 * Second sidebar (on right in LTR languages, on left in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-second
 * (see the layout.css file.)
 */

.region-sidebar-second {
}

.frontpage-slideshow-block{
  /*max-width: $width_limit;*/
}

.flex-control-nav.flex-control-paging {
  display: none;
}

/*
 * Footer
 */

#footer {
  margin-top: 1.8em;
  a {
    color: $gold;
  }
  p, h2{
    color: #58595B;
  }
  .field-content > p {
    font-size: 10pt;
  }
}

.f-wrapper, #block-menu-menu-footer-menu{
  display: table;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

/*
 * Page bottom
 */

.region-bottom { /* Wrapper for any blocks placed in the page bottom region */
}

