@import "zen";
$zen-column-count: 3;
$zen-gutter-width: 20px;


@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(50%);
  -ms-transform: translateY(50%);
  transform: translateY(50%);
}

// Create page layout
.h-wrapper {
  @include zen-grid-container;
}

#logo {
  @include zen-grid-item(1, 1);
}

#name-and-slogan {
  @include zen-grid-item(2, 2);
  font-size: 4em;
  padding-top: 10px;
}



#main{
    @include zen-clear();
    @include zen-grid-container;
    $zen-column-count: 3;
    $zen-gutter-width: 20px;
    
}

#footer{
  @include zen-clear();
  @include zen-grid-container;
  $zen-column-count: 3;
  $zen-gutter-width: 20px;
  .footer-left{
    @include zen-grid-item(1, 1);
    text-align: center;
    .field-item{
      display: block;
    }
  }
  .footer-center{
    @include zen-grid-item(1, 2);
    text-align: center;
    padding-top: 20px;
    .field-item{
      display: block;
    }
  }
  .footer-right{
    @include zen-grid-item(1, 3);
    color: white;
  }
  .footer-left{
    @include vertical-align();
    display: block;
  }
}

.bottom-wrapper{
  @include zen-clear();
  @include zen-grid-container;
  $zen-column-count: 3;
  $zen-gutter-width: 20px;
  background-color: #363636;
  .block{
    margin-bottom: 0px;
  }
  .bottom-place-one {
    @include zen-grid-item(1, 1);
  }
  #block-views-social-links-block{
    @include zen-grid-item(1, 2);
  }
  .bottom-place-one {
    @include zen-grid-item(1, 3);
  }
}

#block-islandora-usage-stats-recent-activity{
  .list-group{
    li >div{
      @include zen-grid-container;
      $zen-column-count: 3;
      $zen-gutter-width: 5px;
      :first-child{
        @include zen-grid-item(1, 1);
        text-align: center;
      }
      :last-child{
        @include zen-grid-item(2, 2);
      }
    }
  }
}

.new-collections-item-wrapper, .recent-object-item-wrapper{
  @include zen-grid-container;
  $zen-column-count: 3;
  $zen-gutter-width: 5px;
  :first-child{
    @include zen-grid-item(1, 1);
    text-align: center;
    }
  :last-child{
    @include zen-grid-item(2, 2);
  }
}

.more-link{
  padding-top: 20px;
}
#navigation ul.menu li {

}

@media all and (max-width: 800px) {
// Create page layout
  .h-wrapper {
    @include zen-grid-container;
    text-align: center;
  }

  #logo {
    @include zen-grid-item(3, 1);
  }
  #site-slogan{
    text-align: center;
  }
  #name-and-slogan {
  @include zen-clear();
    @include zen-grid-item(3, 1);
  }
 
}

@media all and (max-width: 755px) {
  .collection-search-wrapper{
    display: inline-block;
    height: 100%;
    width: 100%;
  }

  #edit-collection-select{
    width: 100% !important;
  }
  .collection-search-wrapper{
    #edit-islandora-simple-search-query{
      width: 65% !important;
    }
  }

  #islandora-collection-search-form{
    margin-top: 0px !important;
  }
}

@media all and (max-width: 700px) {

#footer{
  @include zen-clear();
  @include zen-grid-container;
  $zen-column-count: 1;
  $zen-gutter-width: 20px;
  .footer-left{
    @include zen-grid-item(1, 1);
    padding-top: 0em !important;
    margin-left: auto;
    margin-right: auto;
    .field-item{
      display: block;
      max-width: 100%;
      margin: auto;
      padding: auto;
    }
  }
  .footer-center{
    @include zen-clear();
    @include zen-grid-item(1, 1);
    padding-top: 0px;
    .field-item{
      display: block;
      @include vertical-align();
    }
  }
 .footer-right{
    @include zen-clear();
    @include zen-grid-item(1, 1);
    color: white;
    padding-top: 3em;
    text-align: center;
    .field-item{
      display: block;
      @include vertical-align();
    }
  }
}

.bottom-wrapper{
  @include zen-clear();
  @include zen-grid-container;
  $zen-column-count: 1;
  $zen-gutter-width: 20px;
  background-color: #363636;
  .block{
    margin-bottom: 0px;
  }
  .bottom-place-one {
    @include zen-grid-item(1, 1);
  }
  #block-views-social-links-block{
    @include zen-clear();
    @include zen-grid-item(1, 1);
  }
  .bottom-place-one {
    @include zen-clear();
    @include zen-grid-item(1, 1);
  }
}

  .h-wrapper{
    padding-top: 20px;
  }
}